$legacy-support-for-ie8: true;
$default-border-radius : 2em;
$default-rotate : 5deg;

$white : #FFF;
$black : #000;
$red : #F00;
$highlight : #b3d4fc;
$gray : #222;
$light-gray : #CCC;
$link-color : #0000CD;

$base-font-size : 13px;
$base-line-height : 1.231;
