@import "compass";
@import "bourbon/bourbon";

@import "partials/settings";
@import "partials/normalize";
@import "partials/helpers";
@import "partials/browser-upgrade.scss";

/* ==========================================================================
   Styles
   ========================================================================== */

body {
    background-color: $white;
}

#container {
    margin: 0 auto;
}

.sticker {
    background-color: $red;
    border: 0.31em solid $white;
    border-radius: 2em;
    color: $white;
    height: 15em;
    margin: 3em auto;
    padding: 1em 0 2em 0;
    transform: rotate(5deg);
    width: 21em;
}

.stickertitle {
    margin: 0;
    padding: 0;
    span {
        display: block;
        text-align: center;
    }
}

#hello {
    font-size: 2.3em;
    font-weight: bold;
    text-transform: uppercase;
}

#mynameis {
    font-size: 1.9em;
}

.stickerbody {
    @extend %clearfix;
    background-color: $white;
    color: $black;
    font-family: 'Loved by the King', cursive;
    font-size: 1.8em;
    padding: .2em;
    h1 {
        margin: 0;
        padding-left: .5em;
    }
    a {
        text-decoration: none;
        color: $black;
        float: right;
        transform: rotate(10deg);

        &:hover, &:active {
            text-decoration: underline;
        }
    }
}

#firstName {
    transform: rotate(-10deg);
}

#lastname {
    transform: rotate(5deg);
}

.horiznav {
    @extend %clearfix;
    padding: 0;
    list-style: none;
    text-align: center;
    li {
        display: inline;
    }
    a {
        color: $link-color;
        text-decoration: none;
        font-size: 1.5em;
        padding: 0 .5em;
        &:active, &:hover {
            text-decoration: underline;
        }
    }
}

footer {
    max-width: 30em;
    padding-left: 1.5em;
    margin: 3em auto 0;
}

.shadow {
    box-shadow: 0.25em 0.25em 1em 0.125em $light-gray;
}

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
    .sticker {
        width: 30em;
        height: 18em;
    }
    .stickerbody {
        font-size: 2.47em;
    }
    .horiznav {
        li:after {
            content: "|";
            color: $link-color;
            font-size: 1.25em;
        }
        li:last-child:after {
            content: "";
        }
        a {
            font-size: 1.25em;
            padding: 0 1em;
        }
    }
}
