// Sizes as suggested by https://support.google.com/adsense/answer/6307124
.homepagead {
  width: 320px;
  height: 100px;
  margin: 0 auto;

  @media (min-width: 500px) {
    width: 468px;
    height: 60px;
  }

  @media (min-width: 800px) {
    width: 728px;
    height: 90px;
  }
}
