$legacy-support-for-ie8: true;
$default-border-radius: 2em;
$default-rotate: 5deg;

$white: #fff;
$black: #000;
$red: #f00;
$highlight: #b3d4fc;
$gray: #222;
$light-gray: #ccc;
$link-color: #0000cd;

$base-font-size: 13px;
$base-line-height: 1.231;
