@import "partials/settings";
@import "partials/normalize";
@import "partials/helpers";
@import "partials/adsense";

/* ==========================================================================
   Styles
   ========================================================================== */

body {
  background-color: $white;
}

#container {
  margin: 0 auto 20px;
}

.sticker {
  background-color: $red;
  border: 0.31em solid $white;
  border-radius: 2em;
  color: $white;
  height: 10em;
  margin: 3em auto;
  padding: 0 0 2em 0;
  transform: rotate(5deg);
  width: 16em;

  @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
    width: 30em;
    height: 16em;
    padding: 1em 0 2em 0;
  }
}

.stickertitle {
  margin: 0;
  padding: 0;
  span {
    display: block;
    text-align: center;
  }
}

#hello {
  text-transform: uppercase;
  font-size: 2em;
  font-weight: bold;

  @media only screen and (min-width: 35em) {
    font-size: 2.3em;
  }
}

#mynameis {
  font-size: 1.7em;

  @media only screen and (min-width: 35em) {
    font-size: 1.9em;
  }
}

.stickerbody {
  @extend %clearfix;
  background-color: $white;
  color: $black;
  font-family: "Loved by the King", cursive;
  font-size: 1.8em;
  padding: 0.2em;
  text-align: center;

  @media only screen and (min-width: 35em) {
    font-size: 2.47em;
  }

  h1 {
    margin: 0;
  }
}

#firstName {
  transform: rotate(-10deg);
}

#lastname {
  transform: rotate(5deg);
}

.horiznav {
  @extend %clearfix;
  padding: 0;
  list-style: none;
  text-align: center;

  li {
    display: inline;

    &:after {
      @media only screen and (min-width: 35em) {
        content: "|";
        color: $link-color;
        font-size: 1.25em;
      }
    }

    &:last-child:after {
      @media only screen and (min-width: 35em) {
        content: "";
      }
    }
  }

  a {
    color: $link-color;
    font-size: 1.25em;
    line-height: 1.75em;
    padding: 0 0.5em;
    text-decoration: none;

    @media only screen and (min-width: 23em) {
      font-size: 1.5em;
    }

    @media only screen and (min-width: 35em) {
      line-height: 1.5em;
      padding: 0 1em;
    }

    &:active,
    &:hover {
      text-decoration: underline;
    }
  }
}

footer {
  max-width: 30em;
  padding-left: 1.5em;
  margin: 3em auto 0;
}

.shadow {
  box-shadow: 0.25em 0.25em 1em 0.125em $light-gray;
}
